{{ define "main"}}
  <main id="main">

    <div class="container">
  
      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}
      
        {{ range .Site.Sections }}
            {{ range .Sections.ByWeight }}
                {{ $stype := .Type}}

                {{ if (or (and (eq $stype "current-projects") (.Site.Params.showCurrentProjects)) (and (eq $stype "recent-work") (.Site.Params.showRecentWorks)) (and (eq $stype "download") (.Site.Params.showDownloads)) (and (eq $stype "colaborators") (.Site.Params.showColaborators)) (and (eq $stype "partners") (.Site.Params.showPartners))) }}

                     <div class="row section featured topspace">
                       <h2 class="section-title">
                         <span>{{.Title}}</span>
                       </h2>
                       
                       <div class="text-center text-muted sublead">
                        {{ .Description }}
                       </div>

                     {{ if eq $stype "current-projects" }}
                       {{ partial "home/current-projects.html" . }}

                     {{ else if eq $stype "recent-work" }}
                       {{ partial "home/recent-works.html" . }}

                     {{ else if eq $stype "download" }}
                       {{ partial "home/download.html" . }}

                       {{ else if eq $stype "colaborators" }}
                         {{ partial "home/colaborators.html" . }}

                         {{ else if eq $stype "partners" }}
                           {{ partial "home/partners.html" . }}

                     {{ end }}
                </div>	<!-- /section -->
              {{ end }}
            {{ end }}
        {{ end }}
    </div>	<!-- /container -->
  </main>

{{ end }}
